
<ng-content></ng-content>

<p>Output : {{ output | async  }}</p>

<h1 appHighlight [myColor]="'yellow'">
  {{user.firstName | uppercase }} {{ user.lastName | uppercase}}</h1>

<p *ngIf="user.isWorking">
  Income : <span [innerText]="user.income | currency : 'INR'"></span></p>

<!-- <p [ngClass] = "['border', 'feature']">Date of Birth : {{ user.dob }} </p> -->

<button class="btn btn-primary btn-sm" (click)="onToggle()">Toggle</button>
<p [ngClass]="dynamicClasses">
  Date of Birth : {{ user.dob | date : 'MMM/dd/yyyy'}} </p>

<p>Contact Number : {{ user.contact_no | countryCode : 'US'}}</p>

<p>
  Total Votes : {{ user.vote}}
  <input type="text" [value]="user.vote" (keyup)="user.vote = $event.target.value">
  <input type="number" [(ngModel)]="user.vote">
</p>
