<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h1 class="ion-text-center">Login</h1>
  <ion-item>
    <ion-label position="floating">Email </ion-label>
    <ion-input type="text" [(ngModel)] = "email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" [(ngModel)] = "password"></ion-input>
  </ion-item>

  <ion-button (click)="onRegister()" color="secondary" expand="full" shape="round" fill = "clear"> Register </ion-button>
  <br>
  <ion-button (click)="onLogin()"  expand="full" shape="round" fill = "clear"> Login </ion-button>

</ion-content>